<h1>Hi</h1>
{% if messages %}
    <div id="message"  class="alert-dismissible fade show alert alert-success" role="alert">
      <ul  id="inner-message" class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
        
    {% endif %}
    
    {% for x in y %}
        <ul>
            <li> {{ x.problem_title }} </li>
            <li> {{ x.problem_desc }} </li>
        </ul>
        <a href="/Student/loginpage/{{y.0.id}}/upload_soln">
            <button type="submit">Confirm problem statement?</button>
        </a>
    {% endfor %}

    <p></p>
<a href="/Student/loginpage">Go back</a>
